/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$background-color: #ffffff;
$background-color-light: #efefef;
$text-default: #333333;
$text-default-secondary: #848484;
$color-theme: #ffa11a;
$color-primary: #0e98db;
$color-secondary: #89eaea;
$color-success: #4faa35;
$color-warning: #f6ba13;
$color-danger: #ef5440;
$color-muted: #cccccc;
$border-color: #a3a3a3;
$default-border-radius: 0.25rem;
$small-border-radius: 0.1rem;
$background-highlight-color: #e2edf1;
$default-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

$themes: (
        primary: $color-primary,
        secondary: $color-secondary,
        success: $color-success,
        warning: $color-warning,
        danger: $color-danger,
        muted: $color-muted
);

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: $text-default;
  font-size: 13px;
  margin: 0;
  background: $background-color;
}

a {
  color: $text-default;
  text-decoration: underline;

  &:active {
    color: $text-default-secondary;
    text-decoration: underline;
  }
}

small {
  font-size: 0.85em;
}

@mixin link-color($color) {
  color: darken($color, 10%);
  &:hover {
    color: $color;
  }
  &:active {
    color: darken($color, 5%);
  }
}

.full-height {
  height: 100%;
}

.main {
  max-width: 768px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: baseline;
  padding: 5rem 2rem 2rem 2rem;

  @media (max-width: 480px) {
    padding: 5rem 0 0 0;
  }

  h1, h2, h3, h4, h5, h6, p, small, span {
    @each $theme, $color in $themes {
      &.text-#{$theme} {
        color: darken($color, 10%);
      }
    }
  }

  a {
    text-decoration: none;
    @each $theme, $color in $themes {
      &.text-#{$theme} {
        color: darken($color, 10%);
      }
      &:hover.text-#{$theme} {
        color: $color;
      }
      &:active.text-#{$theme} {
        color: darken($color, 5%);
      }
    }
  }

  @mixin link-color($color) {
    color: darken($color, 10%);
    &:hover {
      color: $color;
    }
    &:active {
      color: darken($color, 5%);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.35em;
    margin-top: 0;
    font-weight: normal;
  }

  small {
    color: $text-default-secondary;
  }

  .text-center {
    text-align: center;
  }

  code, pre {
    font-family: "Noto Sans Mono", monospace;
    font-size: 0.9em;
    line-height: 1;
  }

  pre {
    background: $background-color-light;
    padding: 0.5em;
    overflow-y: auto;

    @media (max-width: 480px) {
      max-height: 20em;
    }

    &::-webkit-scrollbar {
      width: 0.2em;
      height: 0.2em;
      cursor: default;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-muted;
      border-radius: $default-border-radius;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: darken($color-muted, 5%);
    }
  }

  :not(pre) > code {
    padding: 0 0.2em;
    border-radius: $default-border-radius;
    background: $background-color-light;
    border: 0.05em solid $text-default;
  }

  p {
    margin: 0 0 1rem 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 0.25rem solid $color-theme;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  background: #fafafa;
  height: 3rem;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    height: 100%;

    .main-nav, .user-nav {
      display: flex;
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      & > li {
        height: 100%;
        display: flex;
        a {
          padding: 0 1em;
          display: block;
          text-decoration: none;
          &:hover {
            background: #efefef;
          }
          &.active {
            background: #efefef;
          }
        }
      }

      .dropdown-button {
        position: relative;
      }

      .dropdown {
        cursor: default;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 2.75rem;
        display: none;
        background: white;
        box-shadow: $default-box-shadow;
        &.show {
          display: flex;
          flex-direction: column;
        }
        & > ul {
          width: 10em;
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            & > * {
              padding: 1em;
            }
            a {
              display: block;
            }
          }
        }
      }
    }

    .control-nav {
      display: flex;
      align-items: baseline;
    }
    .nav-search {
      flex-grow: 1;
      position: relative;
      margin: 0 0.5em;
      input {
        width: 100%;
        margin: 0;
        padding: 0.5em 0.5em 0.5em 2em;
      }
      .icon-box {
        height: 2.3em;
        width: 2.3em;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .search-icon {
          color: #cccccc;
          height: 1.3em;
          width: 1.3em;
        }
      }
    }
  }
}

.session-page {
  margin: auto;
  width: 320px;

  .session-help {
    text-align: center;
    margin: 1.5rem 0;
  }
}

.session {
  width: 100%;
  padding: 1em;
  background: white;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;

  .button {
    width: 100%;
  }
}

.alert {
  border-radius: $default-border-radius;
  padding: 1em;
  @each $theme, $color in $themes {
    &.#{$theme} {
      background: lighten($color, 20%);
      color: darken($color, 30%);
    }
  }

  & > ul {
    padding: 0 0 0 1rem;
  }

  margin-bottom: 1.5rem;

  &.popup {
    position: fixed;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: $default-box-shadow;
    z-index: 2;
  }
}

.form-group {
  font-size: 1rem;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    margin-bottom: 0.5em;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    .hint {
        font-size: 0.75em;
    }
    & > * {
      margin-bottom: 0.1em;
    }
  }
}

.dim-background {
  background: $background-color-light;
  width: 100%;
}

.post-page {
  width: 100%;
  @media (max-width: 480px) {
    padding: 0.5rem 0.75rem;
  }
  h2 {
    margin: 1em 0;
  }
}

.ask-form-content {
  background: white;
  border-radius: $small-border-radius;
  box-shadow: $default-box-shadow;
  padding: 1rem;
  margin-bottom: 2rem;
}

.editor-hint {
  display: flex;
  align-items: baseline;
  color: $text-default-secondary;
  font-size: 0.75em;

  & > * {
    margin-right: 0.2rem;
  }
}

@mixin input-theme($color) {
  border: 1px solid $color;
  &:focus {
    border-color: $color;
    box-shadow: 0 0 0.25rem rgba($color, 0.5);
    outline: $color;
  }
}

input, textarea {
  padding: 0.5em;
  border: 1px solid $border-color;
  border-radius: $default-border-radius;
  margin-bottom: 0.5em;

  &:focus {
    border-color: $color-primary;
    box-shadow: 0 0 0.25rem rgba($color-primary, 0.5);
    outline: $color-primary;
  }

  @each $theme, $color in $themes {
    &.#{$theme} {
      @include input-theme($color);
    }
  }
}

input {
  &:not([value=""]):invalid {
    @include input-theme($color-danger);
  }
}

textarea {
  resize: vertical;
  font-family: "Noto Sans Mono", monospace;

  &::-webkit-scrollbar {
    width: 0.5em;
    cursor: default;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-muted;
    border-radius: $default-border-radius;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: darken($color-muted, 5%);
  }
}

@mixin button-theme($button-color) {
  background-color: $button-color;
  color: white;
  &:focus {
    box-shadow: 0 0 0.25rem rgba($button-color, 0.5);
  }
  &:hover, &:focus {
    background-color: darken($button-color, 5%);
  }
  &:active {
    color: white;
    background-color: lighten($button-color, 3%);
  }
  &:disabled {
    background-color: lighten(desaturate($button-color, 50%), 10%);
    cursor: not-allowed;
  }
}

.button {
  outline: none;
  border: none;
  border-radius: $default-border-radius;
  padding: 0.75em 1.25em;
  line-height: 1;
  cursor: pointer;
  color: $text-default-secondary;
  background-color: $background-color;
  margin: 0.25em;
  text-decoration: none;
  font-weight: normal;
  white-space: nowrap;

  &:active {
    text-decoration: none;
  }

  @each $theme, $color in $themes {
    &-#{$theme} {
      @include button-theme($color);
    }
  }

  &-login {
    @include button-theme($background-highlight-color);
    color: #0c465a;
    border: 1px solid #257089;
  }
}

.ask-question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  @media (max-width: 480px) {
    padding: 0 1rem 0 0.75rem;
  }
  h1 {
    margin: 0 0.5em 0 0;
  }
}

.question-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .question-item {
    padding: 0.75em 0.5em;
    @media (max-width: 480px) {
      padding: 0.5em 0.5em;
    }
    display: flex;
    .question-item-stats {
      cursor: pointer;
      margin-right: 1em;
      display: flex;
      @media (max-width: 480px) {
        flex-direction: column;
        :not(:last-child) {
          margin-bottom: 0.25em;
        }
      }
      .stat-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5em;
        margin-right: 0.25em;
        min-width: 4.5em;
        height: 4.5em;
        @media (max-width: 480px) {
          min-width: 4em;
          height: 4em;
        }
        color: $text-default-secondary;
        border: 0.075em solid transparent;
        border-radius: $default-border-radius;
        .count {
          font-size: 1.3em;
          margin-bottom: 0.3em;
        }
        .counter {
          font-size: 0.85em;
        }
        &.answered {
          border-color: $color-success;
          color: $color-success;
        }
      }
    }

    a {
      @extend .text-primary
    }

    .question-item-summary {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 480px) {
        padding: 0.5em 0;
      }
      h2 {
        font-size: 1.35em;
      }
      .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        .action {
          color: $text-default-secondary;
          margin-right: 0.5em;
          &:hover {
            color: $color-primary;
          }
        }

        .tags > ul {
          display: flex;
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            padding: 0.4em 0.5em;
            background: #def0f8;
            border-radius: $default-border-radius;
            color: darken($color-primary, 25%);
            font-size: 0.75rem;
            margin-right: 0.5em;
          }
        }
      }
    }

    border-bottom: 0.075em solid #dddddd;
  }
}

.thread {
  width: 100%;
  display: flex;
  flex-direction: column;

  .post {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    @media (max-width: 480px) {
      padding: 1em;
    }
    border-bottom: 0.075em solid #dddddd;

    .post-left {
      padding: 0 1rem 0.5rem 0;
      .vote-box {
        a {
          padding: 0.25rem;
          @include link-color($color-muted);
          &.voted {
            @include link-color($color-theme);
          }
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $text-default-secondary;
        font-size: 1.8rem;
        .score {
          font-size: 1.4rem;
        }
      }
    }

    .post-right {
      flex-grow: 1;
      overflow: hidden;
      .post-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .post-menu {
          & > a {
            @include link-color($text-default-secondary);
          }
          & > * {
            margin-right: 0.5em;
          }
        }

        .signatures {
          display: flex;
          flex-flow: row;
          @media (max-width: 480px) {
            flex-direction: column-reverse;
          }
          .signature {
            display: flex;
            flex-direction: column;
            padding: 0.4em 0.5em;
            width: 12em;
            margin-left: 0.5em;
            &.owner {
              background: $background-highlight-color;
              border-radius: $default-border-radius;
            }
            .time {
              font-size: 0.85em;
              color: $text-default-secondary;
            }
            a {
              @extend .text-primary
            }
          }

        }
      }
    }

  }

}

.thread-statistic {
  display: flex;
  padding-bottom: 1em;
  border-bottom: 0.05rem solid #dddddd;
  @media (max-width: 480px) {
    padding: 0 0 1em 0.75rem;
  }
  .stat-item {
    margin-right: 1em;
    .stat-key {
      color: $text-default-secondary;
      margin-right: 0.5em;
    }
  }
}

.post-text {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1em 0;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.5em;
    cursor: default;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-muted;
    border-radius: $default-border-radius;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: darken($color-muted, 5%);
  }

  a {
    color: $color-primary;
    text-decoration: underline;
    &:hover {
      color: darken($color-primary, 5%);
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }

  blockquote {
    border-left: 0.2em solid $border-color;
    padding-left: 0.5em;
  }


}

html, body, #root {
  height: 100%;
}

// Adapted from https://loading.io/css/
.loading-ring {
  margin: auto;
  &:after {
    content: " ";
    display: block;
    width: 5em;
    height: 5em;
    margin: 1em;
    border-radius: 50%;
    border: 0.5em solid;
    border-color: transparent $color-theme transparent $color-theme;
    animation: loading-ring 1.2s ease-in-out infinite;
  }
  @keyframes loading-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.loading-ring-small {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 1em;
  &:after {
    content: " ";
    display: block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    border: 0.1em solid;
    border-color: transparent white transparent white;
    animation: loading-ring-small 1.2s ease-in-out infinite;
  }
  &.voting:after {
    width: 0.7em;
    height: 0.7em;
    border: 0.15em solid;
    border-color: transparent #cccccc transparent #cccccc;
  }
  @keyframes loading-ring-small {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    background: white;
    width: 25rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      h1 {
        font-weight: bold;
      }
      .modal-close {
        padding: 0.6rem 0.7rem;
        border-radius: $default-border-radius;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background: $background-color-light;
        }
      }
    }
    .modal-body {
      display: flex;
      flex-direction: column;
    }
  }
}

.home {
  padding-top: 2rem;
  min-height: 100vh;
  .hero {
    background: #ffd739;
    min-height: 50vh;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .hero-content {
      padding: 1em;
      max-width: 768px;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-flow: column;
      align-items: center;
      text-align: center;

      & > h1 {
        font-size: 3rem;
      }

      & > p {
        max-width: 36ch;
        font-size: 1.1rem;
        line-height: 1.5;
      }


    }
  }
}

.footer {
  background: #444444;
  color: white;
  .footer-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    padding: 1rem;
    p {
      margin: 0;
    }
    a {
      text-decoration: none;
      @include link-color(white);
    }
  }
}

* {
  box-sizing: border-box;
}